<!-- <app-header></app-header> -->
<mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon> menu </mat-icon>
    </button>

    <h1>uLemos</h1>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav>
    <mat-nav-list>
      <a mat-list-item> Home </a>
      <a mat-list-item> about </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-home></app-home>
    <!-- <div style="height: 88vh">
      <router-outlet></router-outlet>
    </div> -->
  </mat-sidenav-content>
</mat-sidenav-container>
