<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>
  <body>
    <div class="container">
      <div class="stars"></div>
      <div class="stars2"></div>

      <div class="infos">
        <div class="container-infos img-wrapper img">
          <div class="titleName">
            <h1 class="hover-1">uLEMOS</h1>
          </div>

          <div class="informacoesDev">
            <ul>
              <li>
                <p>
                  🌱 Especialista em C# e .Net Core. Estudando Angular,
                  TypeScript e ASP .NET Core;
                </p>
              </li>
              <li><p>❤️‍🔥 Apaixonado por tecnologia;</p></li>
              <li><p>🧿 Focado em novas experiências.</p></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="perfil">
        <div class="img-wrapper">
          <app-card-infos class="img"></app-card-infos>
          <!-- <img class="img" src="assets/images/unnamed.png" /> -->
        </div>
        <div class="overlay"></div>
      </div>
    </div>
    <!-- 
    <div class="container-2">
      <app-card></app-card>
      <app-card-infos></app-card-infos>
    </div> -->
    <!-- <div class="container-2">
      <app-sidebar></app-sidebar>
    </div> -->
  </body>
</html>
