<div class="container">
  <div class="card-wrapper">
    <div class="card profile-two">
      <div class="card-image profile-img--two">
        <img src="assets/images/perfilCortado.jpg" />
      </div>

      <ul class="social-icons">
        <li>
          <a href="">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/le.fernando_/">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/uLemosS">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="">
            <i class="fab fa-dribbble"></i>
          </a>
        </li>
      </ul>

      <div class="details jane">
        <h2>
          uLemos
          <br />
          <span class="job-title">Back-end Developer</span>
        </h2>
      </div>
    </div>
  </div>
  <!-- END box wrapper -->
</div>
<!-- END container -->
